<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="center jumbotron">
    <div class="left">
      <h2>TaskList</h2>
    </div>
    
    <div class="center">
      <%= link_to '新規ユーザ登録', signup_path, class: 'btn btn-md btn-primary' %>
    </div>
  </div>
<% end %>